@header: brand-title;
.@{header} {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    width: 100%;
    max-width: 640px;
    line-height: 44px;
    text-align: center;
    background-color: transparent;
    color: #FFF;
    font-size: 18px;
    z-index: 9;
    border-bottom: solid 1px rgb(88, 88, 88);
    &-back {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 44px;
        height: 44px;
        &::before {
            content: "";
            position: absolute;
            top: 16px;
            left: 17px;
            display: block;
            width: 10px;
            height: 10px;
            border-top: 2px solid #FFF;
            border-left: 2px solid #FFF;
            border-top-left-radius: 2px;
            border-top-right-radius: 1px;
            border-bottom-left-radius: 1px;
            -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg)
        }
    }
}
.brand-share {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 44px;
    height: 44px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAArBAMAAAAApCwHAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAqUExURUdwTP///////////////////////////////////////////////////4sGkswAAAANdFJOUwAE+xiK5mauCL0xz04qpjhCAAAAvElEQVQoz2NggILMBgY0wHa3EF0o6e71BnRFd+/OQBXyBQrdNkAWEbl7Eyi2GVmo9m7F3Wt3ryIry70ucPfCoesCyKY7MNy9wINmPlAIwWYUFBQUgAgBWYJAkZZYoF0XIEJA1t2QBrCLkIXuOjDE3r2kpKQAEVJSUrp7N4Dh7k0DZOPNgfTdWyg2MoOELqM6YggIgfyJJoQUlMNP6BaKCDjSbi8URAKWQKHYu2ggAJJMkIEDg0iQEgoIEQAAkCDJAfLFFeEAAAAASUVORK5CYII=);
    background-size: 14px 21px;
    background-repeat: no-repeat;
    background-position: center center
}