{ 
    "presets": [ "es2015" ], // 预设
    "plugins": [ "transform-runtime", "transform-remove-console" ], // 插件
    "comments": false
}
// 说明参照： https://excaliburhan.com/post/babel-preset-and-plugins.html